[2017-10-25 15:53] ostark opened #1 "Cache invalidation for scheduled Entries"
**Problem:** Scheduled Entries do not purge the cache automatically.

# Idea

A console command keeps an eye on `entries.postDate` and `entries. expiryDate`. This command must be scheduled via cron to invalidated the cache without human interaction.

[2017-10-25 16:03] ostark opened #2 "Surrogate Keys fallback"
Not every CacheProxy/CDN does support Surrogate Keys. By storing the relations between the tag and the URL in an internal map, this could be emulated. So, instead of purging the tags, we would purge (multiple) URLs - the result should be the same.

[2017-10-25 16:26] ostark opened #3 "CloudFlare support"
Requires #2 to be solved for Non-Enterprise plans.
For Enterprise user just another PurgeDriver is required > [see CloudFlare API](https://api.cloudflare.com/#zone-purge-individual-files-by-url-and-cache-tags)

[2017-10-25 18:52] sjelfull commented on #1
We just discussed this on the Craft Slack.

For Craft 2 I did [this plugin](https://superbig.co/plugins/published-event).
For Craft 3, I think i'm going to port it and convert it into using delayed jobs instead.

[2017-10-25 19:44] ostark commented on #1
Perfect!  @sjelfull

[2017-10-26 07:02] joshangell commented on #1
The conceptual issue I’m having with delayed jobs in a queue is that what if the server gets rebooted or whatever, do they stay around? Can they be scheduled for a long time is the future, like a month or whatever?

I appreciated you could use SQS or whatever, but there’s something nice and safe about a row in a db.

[2017-10-26 15:09] ostark commented on #1
@joshangell thanks for your input.
@sjelfull I'm not sure if delayed jobs are appropriate for this as you never get Jobs out of a queue, e.g. in case the editor decides to change the expire or publish date. Maybe this is not a big issue.

[2017-10-26 16:27] sjelfull commented on #1
@ostark Doesn't matter. You just publish a new job, and in the service you check if it's published or not.

[2017-10-26 19:34] ostark commented on #1
Ok, @sjelfull, I'm happy to depend on your plugin 👍
Do you know if plugin-plugin dependencies are possible with Craft 3 anyways?

[2017-10-27 08:58] sjelfull commented on #1
Pushed initial version in sjelfull/craft3-publishedevent

[2017-10-27 19:32] khalwat opened #4 "MaxCDN support"
I'd love to see MaxCDN support as well:

https://www.maxcdn.com/features/api/

https://github.com/MaxCDN/php-maxcdn

[2017-10-27 23:41] ostark commented on #2
WIP: https://github.com/ostark/upper/tree/tag-fallback

[2017-10-27 23:48] ostark commented on #4
MaxCDN is now stackpath.com, AFAIK the API is the same.
They don't support Cache Tags so far, no ETA. #2

[2017-10-28 00:00] ostark commented on #4
Similar but not equal
http://maxcdn.github.io/apidocs/docs/#purge-cache
https://api.stackpath.com/#purge-site-cache

[2017-11-23 04:11] brandonkelly opened #5 "Long Description instructions"
Should say that [GitHub Flavored Markdown](https://github.github.com/gfm/) is supported.

[2017-11-23 04:11] #5 closed

[2017-11-23 04:11] brandonkelly commented on #5
oops wrong repo :)

[2018-01-21 04:52] torbensko opened #7 "Unable to install on Craft RC6"
I'm trying to install on both a local and remote instance, as hosted on Heroku. When using the web interface, a message is displayed saying "Couldn’t install plugin." The CLI approach claims to succeed, but the plugin remains disabled in the admin section. I checked the log files, but couldn't find anything of interest. Let me know if I can provide any further detail or if its simply a compatibili

[2018-01-21 12:25] ostark commented on #7
Thanks for your feedback! I haven't tried RC6 yet, I'll try if I can reproduce it.

[2018-01-22 10:55] ostark commented on #7
@torbensko Can you try it again with the latest release? 1.1.2

[2018-01-22 15:40] #2 closed

[2018-01-23 01:29] torbensko commented on #7
No luck unfortunately. Of note, I'm using postgres both locally and on Heroku.

[2018-01-23 12:10] ostark commented on #7
@torbensko It was [postgres](https://github.com/ostark/upper/commit/c9ec87d81cfaa01cfb4e39719d19f649eba69ee2) related. Thanks for testing! Please pull the latest release.

[2018-01-23 16:13] ostark commented on #7
@torbensko `v1.1.3` bypasses the `useLocalTags` option correctly now and `v.1.2.0` adds pgsql support for `useLocalTags`.

Please give it a try.

[2018-01-24 08:11] ostark commented on #7
@torbensko Can you provide the full error message, including the SQL statement?

[2018-01-28 14:39] ostark commented on #7
@torbensko Did you have a chance to try again?

[2018-02-09 16:39] ostark commented on #7
@torbensko  Did you have a chance to try again?

[2018-02-23 16:31] ostark commented on #3
https://github.com/ostark/upper/releases/tag/1.3.0

[2018-02-23 16:31] #3 closed

[2018-03-06 18:15] #7 closed

[2018-03-07 11:14] ostark opened #8 "AWS CloudFront support"
Yet another driver ;-)

[2018-03-16 12:39] kbergha opened #9 "Exception when creating new category"
Hi.

After installing Upper, and trying to create some new categories, I get the following error message:

**Getting unknown property: craft\elements\Category::sectionId**

Full exception/stack:
[code]

Disabling the Upper-plugin make the exception go away.

As far as I can see, Upper doesn't handle category objects?
There's at least nothing related to this in ELEMENT_PROPERTY_MAP or TAG_PREFIX_

[2018-03-16 13:06] ostark commented on #9
Thanks for your report!
Yes, It's not implemented yet. I try to fix it as soon as possible.

[2018-03-16 15:18] ostark commented on #9
@kbergha please give the latest release (1.3.1) a try

[2018-03-16 15:58] kbergha commented on #9
I'll try when it's available on packagist.

[2018-03-16 20:16] kbergha commented on #9
Thank you very much. It now works just fine!

[2018-03-16 20:45] ostark commented on #9
Cache invalidation works as well, as Categories are basically Structures.

[2018-03-16 20:46] #9 closed

[2018-05-10 21:30] askogrand opened #10 "Clear Caches control panel checkbox disappearing"
Ill try and append more information to this ticket, but we keep seeing the option to clear our Fastly cache disappear as a checkbox option in the control panel. When we uninstall and reinstall, the option returns, but after a day or two, disappears again.

https://www.dropbox.com/s/ny7onmj94bgo3yw/Screenshot%202018-05-10%2014.29.34.png?dl=0&raw=1

[2018-05-18 13:03] askogrand commented on #10
Okay, I have a site with the plugin installed, and the option has disappeared. Should I send you the database dump and composer file?

[2018-05-18 13:32] ostark commented on #10
@askogrand a db dump is hopfully not required, but your composer.json/.lock file could be use full.

[2018-05-18 16:40] blasvicco opened #11 "SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'tags'"
Tags need to be LONGTEXT.

[2018-05-18 18:33] ostark commented on #11
Scratch that, it is 255 chars at the moment.
But text should be sufficent, not LongText, isn't it?

[2018-05-18 18:35] blasvicco commented on #11
Hahaha yeah Maybe **LONGTEXT** is too much.
But in our current project is trying to save this:
[code]
so it is given us that error.
I believe  **TEXT** should be more than sufficient.

[2018-05-18 18:38] blasvicco commented on #11
I updated the PR:
https://github.com/ostark/upper/pull/12

[2018-05-18 18:47] ostark commented on #11
Thanks, I'll tag it later.

[2018-05-18 18:47] #11 closed

[2018-05-18 18:52] blasvicco commented on #11
Thanks you for develop the plugin dude!
;)

[2018-05-26 20:36] ostark commented on #10
@askogrand any news?

[2018-05-29 22:05] askogrand commented on #10
I dont see any logs, or any errors. It doesnt happen locally, only on heroku, so im just going to close it until you have something to work with.

[2018-05-29 22:05] #10 closed

[2018-06-04 12:11] ostark opened #13 "Incapsula CDN support"
Implement a driver that supports URL base purging
https://docs.incapsula.com/Content/API/sites-api.htm#Purge2

[2018-06-12 16:01] blasvicco opened #14 "SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'url'"
The SQL being executed was:
[code]

Following [rfc2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html):

I suggest to update the datatype in the installation (table creation) [here](https://github.com/ostark/upper/blob/7d01348ad0ee8f4db2906f025f93069215aa9bf4/src/migrations/Install.php#L23)

[2018-06-13 09:14] ostark commented on #14
Thanks for your suggestion.
I'll review the changes and create a new migration (instead of changing Install.php).

[2018-06-18 11:42] mark-chief commented on #14
This is also happening to me. Exact same error. Best.

[2018-06-18 13:19] ostark commented on #14
Thanks again @blasvicco
Please check @mark-chief

I hope this migration works for everybody:
https://github.com/ostark/upper/blob/master/src/migrations/m180618_120307_url_index.php

[2018-06-18 13:36] blasvicco commented on #14
@ostark I believe my PR is not the best solution because encoding any string length to fixed 32 characters will end up with some collisions. Maybe look for a better hash (more than just 32 characters) or use only the protocol, domain name and path of the request, avoiding the query string. Not sure, but probably with time a better solution will come out.
Regards

[2018-06-18 13:39] ostark commented on #14
I thought about the collisions issue as well. Fortunately, we have a try/catch at least.

[2018-06-18 13:44] #14 closed

[2018-07-09 19:49] blasvicco opened #16 "Sometimes headers options required to be customized"
For particular cases like our cache settings, the Client request need from us to set the proper `HOST` attribute to the headers in order to specifies the correct domain name of the server.

[2018-07-10 15:52] funnylookinhat commented on #16
@ostark This isn't the case for every Varnish deployment, but oftentimes varnish can be configured to either cache more than one domain OR it is behind a load balancer (so that requests hitting the varnish box are routed to an internal hostname or IP rather than directly to your public domain).  We're the latter case, which is why to properly do a purge call you need to add a `Host: foo.com` heade

[2018-07-10 20:20] ostark commented on #4
Update: I'm waiting for the "@stackpath 2.0" API

[2018-08-14 16:28] timkelty commented on #8
Would love to see this one, so we can keep everything under one roof :)

[2018-08-14 21:51] ostark commented on #8
@timkelty feel free to contribute

[2018-08-22 12:23] larsboldt opened #18 "Multiple installs"
We run two sites with each their own Craft installation on the same Varnish server. I think we run into cache invalidation problems because both Craft installations attempt to purge a tag with same name, for instance "el18".

Could this be solved by adding a namespace to x-cachetag so elements are tagged site1_el18 / site2_el18?

[2018-08-22 12:34] ostark commented on #18
Hi Lars,
adding a prefix should be possible with some changes.
Feel free to provide a PR, I'll think of a solution as well.

[2018-08-22 13:37] larsboldt commented on #18
Alright, we'll look into it and submit a PR shortly.

[2018-08-22 15:15] ostark commented on #18
I'd introduce a helper method at takes care of the concatenation:

[code]

Inside that method we can add an additional configurable prefix.

[2018-08-23 09:20] larsboldt opened #19 "Disabled entry changed to enabled does not purge cache"
If you create an entry with initial state disabled, then later change it to enabled, cache isn't purged it seems.

Is this "as intended" or a bug?

[2018-08-23 09:26] ostark commented on #19
Time scheduled entries are not covered so far, but you are talking about disable/enable in the CP, right? Changing the state should trigger purge.

[2018-08-23 09:29] larsboldt commented on #19
Entries with a date set to the future seems to purge cache. But if they are set to "Enabled (false)", flag below expiry date, then saved, then you edit and change to "Enabled (true)", cache does not seem to purge properly.

[2018-08-23 09:34] larsboldt commented on #19
It might be useful to point out that our context here is a list of entries on a page. We expect the cache of this page to be purged in cache when an entry is published since it should be in this list when its enabled.

[2018-08-23 09:42] ostark commented on #19
Ah, okay - but the single Page/Entry gets purged?

Maybe visibility changes for Entries in lists are not covered so far. I'm not sure if Events are fired in that case. I'll have a look.

By using the [Dummy](https://github.com/ostark/upper/blob/master/src/drivers/Dummy.php) driver, all purge actions are logged. This should help with debugging.

[code]

[2018-08-23 09:45] larsboldt commented on #19
The single page / entry page seems to purge yes.

[2018-08-23 11:05] ostark commented on #19
You are right, it can't work:

[2018-08-24 08:33] kbergha commented on #18
PR @ #20

[2018-08-24 08:38] ostark commented on #18
Thank @kbergha. As I mentioned above, your prefix requirement is a good opportunity to clean up the concatenation. I'll take yours and will tweak some things.

[2018-08-24 12:31] ostark commented on #18
@kbergha @larsboldt
Hope my little cleanup session didn't break anything :-)
Feel free to test dev-master.

[2018-08-24 13:45] ostark commented on #19
@larsboldt @kbergha - Please give (dev-master, unrelease 1.4.0) a try.

[2018-08-24 14:03] #16 closed

[2018-08-24 14:04] #18 closed

[2018-08-24 14:04] #19 closed

[2018-08-24 15:06] kbergha commented on #18
Look good so far 👍

[2018-09-04 13:47] luke-nehemedia commented on #4
I would love to see MaxDCN-Support, too

[2018-09-05 07:05] ostark commented on #4
@luke-nehemedia MaxCDN or Stackpath? As Stackpath acquired MaxCDN, the API is deprecated already and the services will be merged at some point.

[2018-09-05 09:30] luke-nehemedia commented on #4
Right now my client uses MaxCDN. But I understand that writing the code for MaxCDN might not be worth it, so I would also be happy with Stackpath.

[2018-11-10 15:58] luke-nehemedia commented on #4
Will there be a Stackpath-Integration in the near future?

[2018-11-12 07:45] ostark commented on #4
@luke-nehemedia That's the plan. It's "just" another driver - I'm open for any external contribution.

[2018-12-04 17:30] JamesNuttall opened #21 "Tuning with CloudFlare"
I have a few pages on my site that are very dynamically heavy therefore I would like to disable caching for those pages. I have tried including the follow cache header as stated in the docs:

`{% header "Cache-Control: private, no-cache" %}`

But CloudFlare seems to be ignoring the header, or it is being overwritten by something as the pages with that header are still getting cached and when viewi

[2018-12-04 17:48] JamesNuttall commented on #21
I believe I have fixed this, Issue with the setup of CloudFlare. Sorry for the inconvenience.

[2018-12-04 17:48] #21 closed

[2018-12-05 14:50] JamesNuttall commented on #21
@ostark I changed a few things, but yes I believe so.

[2019-01-02 23:42] ostark commented on #1
### In Upper 2.0

[code]

Added https://github.com/ostark/upper/commit/29e4ec55125331b31573286bd6be46714f52813a

[2019-01-21 10:51] petetak opened #22 "URLs that 404 get added to the upper_cache table"
If you get a lot of 404s then this can lead to further issues.

In EventRegistrar.php line 99 a check could be added, although you might want to call a method that checks for other status codes as well, or only insert a 200 code.

[code]

[2019-01-21 11:19] ostark commented on #22
Caching 404's is not bad thing - it's kind of intentional.
@petetak What's your actual issue?

[2019-01-21 13:44] petetak commented on #22
I'm using Cloudflare and I quickly go over the 500 url limit when upper calls to invalidate a page.

It's maybe an edge case but it's a new site that is running on the same domain as an old site, so there are many 404s coming in (which I can fix with some redirects which should stop this issue for now)

But it kind of made me wonder if 404s in the upper table would ever get removed since they are

[2019-01-21 14:02] ostark commented on #22
If you have a custom `404` template you can control the cache behaviour with
[code]
Does this solve your issue?

---
I'll review Cloudflare's API limits again and try to avoid them.

[2019-01-21 14:21] petetak commented on #22
Thanks @ostark that works - that's a much better solution!

[2019-01-21 14:21] #22 closed

[2019-01-28 10:34] monachilada commented on #8
+1 Oli. How difficult would this be to implement? Maybe I will give it a try...

[2019-01-28 15:18] petetak opened #23 "Cloudflare api file list limit"
Cloudflare has a 500 url limit for cache invalidation so it would make sense to split the array into smaller chunks and call the api with these chunks.

https://github.com/ostark/upper/blob/b8a584a41d4a85f739770b144d380729fe7f7dd1/src/drivers/Cloudflare.php#L61

I'm happy to work on this and submit a PR but I don't want to change the interface to purgeUrls - ie: I'm not sure what it should return

[2019-01-28 15:26] petetak commented on #23
In face maybe the return value is not important as we are interested only in exceptions from the call to Cloudflare:

https://github.com/ostark/upper/blob/82c23f8c2a872d442e16cf979538303cccdf6405/src/drivers/AbstractPurger.php#L37

So perhaps a decent solution is to chunk the file list and make multiple calls to the Cloudflare api and then return true at the end of it?

[2019-01-28 15:46] petetak commented on #23
For example:
https://github.com/supercool/upper/blob/7ef2a4e4a3ad45429d9ac7930219a956d475b598/src/drivers/Cloudflare.php#L62

[2019-01-28 16:21] ostark commented on #23
Thanks @petetak - it will take a bit to review your suggestion. Please be patient.

[2019-01-28 23:55] ostark commented on #8
@monachilada I'll give it try this week

[2019-01-29 10:12] petetak commented on #23
No problem at all.  FYI I've put this into production on a site and it's now not getting stuck on cache clear tasks (which it was before) and the upper-cache table is not as huge as it was.

I'll let you know if I run into any issues.

[2019-02-05 10:15] petetak commented on #23
That sounds great!

[2019-02-12 10:55] #23 closed

[2019-02-22 13:10] joshuabaker opened #24 "Cloudflare won’t cache without Edge Cache TTL"
I’m trying to get Upper (1.4.2) working with Cloudflare.

Despite seeing `cache-control: public, s-maxage=604800` and `x-upper-cache` headers I’m also getting `cf-cache-status: MISS`.

If I add ‘Edge Cache TTL’ in the Page Rule, alongside ‘Cache Level: Cache Everything’, pages start to cache on the CDN, however, it also means that `cache-control: private, no-cache` is ignored, which messes up the

[2019-02-22 13:32] joshuabaker commented on #24
Reading [Cloudflare’s article](https://support.cloudflare.com/hc/en-us/articles/115000150272) on this rule, there’s actually mention of the `Expires` header.

It _looks_ like setting the `Expires` header manually gets a `cf-cache-status: HIT`.

[2019-02-22 13:55] joshuabaker commented on #24
Yep. The `Expires` header looks to be culprit here.

Not sure how best to approach this from the plugin perspective. Should Upper set this in [`EventRegistrar.php`](https://github.com/ostark/upper/blob/c65fe43615107fe0ade90fa0c98df996bde851d4/src/EventRegistrar.php#L93)? Considering that `Expires` is ignored by everyone conforming to the RFC it shouldn’t be an issue, right?

[2019-02-22 18:15] ostark commented on #24
@joshuabaker Nah, `Cache-Control` works perfectly.
Can you provide an example? Via private channel, if you like ...

[2019-02-22 18:37] ostark commented on #24
[code]

[2019-02-22 18:41] ostark commented on #24
@joshuabaker Doublecheck your "Cache Level" Page Rule
https://github.com/ostark/upper/tree/develop#cloudflare

[2019-03-01 09:27] larsboldt opened #25 "Multiple varnish servers"
Does Upper support multiple varnish servers?

Can we do `VARNISH_URL=http://1.1.1.1/,http://2.2.2.2` or something?

[2019-03-04 10:28] larsboldt opened #26 "Bug with keyprefix"
`2019-03-04 11:08:04 [-][-][01rarb4pmuca8mloccqut8eoth][error][yii\base\ErrorException:2] yii\base\ErrorException: explode(): Empty delimiter in .../versions/0.3.0/vendor/yiisoft/yii2/helpers/BaseInflector.php:480
Stack trace:
#0 .../versions/0.3.0/vendor/craftcms/cms/src/web/ErrorHandler.php(76): yii\base\ErrorHandler->handleError(2, 'explode(): Empt...', '...', 480)
#1 [internal function]: craft

[2019-03-04 13:08] ostark commented on #26
@larsboldt Thanks for your report. Which Driver do you use?

[2019-03-04 13:10] larsboldt commented on #26
varnish

[2019-03-04 16:07] timkelty commented on #8
@ostark any luck?

[2019-03-05 09:11] ostark commented on #8
Thanks for asking :-)
February was super busy at work, I'll come back to open source this month.

[2019-03-05 09:27] ostark commented on #26
@larsboldt Ah, now I get it.  I'll provide a fix.

[2019-03-05 09:29] ostark commented on #25
@larsboldt Not yet.
Do you have a real use case for this?

[2019-03-05 11:13] larsboldt commented on #25
Yes. We have multiple varnish servers and multiple craft cms backends, so we need this feature. We can submit a PR if you want.

[2019-03-05 11:14] larsboldt commented on #25
But we can only test with Varnish ^

[2019-03-05 12:23] ostark commented on #25
I'm happy to merge your PR - I never tested varnish properly.
Also, include a fix for the prefix issue (just remove the second parameter, the default to `-`  should do the trick)

[2019-03-05 12:28] larsboldt commented on #25
Alright, will do.

[2019-03-07 09:41] petetak opened #28 "Excluding query string from cache table"
Is there a config option or a way to prevent query string parameters from creating a new entry in the upper_cache table please?

My table is getting full of duplicates and therefore takes much longer to clear.

[2019-03-07 12:35] ostark commented on #28
Which "driver" do you use?
And what's the behaviour of your edge cache? Do you ignore queries strings there?

[2019-03-07 12:58] petetak commented on #28
We use Cloudflare.  On Cloudflare we have a blacklist that we can add certain things to like google utm links or other email software ids

[2019-03-12 20:29] ostark commented on #28
I'm not happy with the Upper 1.x code base (2.x is WIP and consider to integrate it).
There is no nice way to do it, but this workaround should work for you:

[code]

[2019-03-12 20:45] ostark commented on #26
Eventually released https://github.com/ostark/upper/commit/48f53b7dadb084ab9764678c53f6db7332cce82c thanks @larsboldt

[2019-03-12 20:45] #26 closed

[2019-03-12 20:45] ostark commented on #25
Eventually released https://github.com/ostark/upper/commit/48f53b7dadb084ab9764678c53f6db7332cce82c thanks @larsboldt

[2019-03-12 20:45] #25 closed

[2019-03-12 22:46] petetak commented on #28
Thanks!

[2019-03-13 13:05] ostark commented on #24
ME: requires further research

[2019-03-18 08:23] ostark commented on #28
@petetak does it work for you?

[2019-03-18 08:23] #28 closed

[2019-04-02 17:36] devinellis opened #30 "Ability to add global/default tags"
We'd like a config value that lets us set one or more site-wide cache tags. This way we can tag everything with `['cms', 'production']`, etc.

We're trying to switch from Varnish to Cloudflare for our HTML caching. However, we run multiple "apps" under our domain and we'd rather not clear all of the Cloudflare cache every time we deploy.

We can take a stab at submitting a PR if you let us know ho

[2019-04-02 18:05] ostark commented on #30
Go ahead, some lines of code tell more than 1000 words

[2019-04-30 19:27] ostark opened #31 "Auto-Resave creates many Purge jobs"
Follow the discussion:
https://github.com/craftcms/cms/issues/3482

Possible problem:
API rate limits

[2019-05-07 13:38] bwlng opened #32 "Support for multiple Cloudflare domains"
Is it possible to clear the cache for multiple Cloudflare zones/domains? I’m using Upper on a Craft install where each site has a different domain. Is there a way to configure multiple zoneIds or domains (such as an array with nested config options under `cloudflare` in `config/upper.php` or arrays for `zoneId` and `domain`)?

[2019-05-07 16:14] bwlng commented on #32
Hi Oliver,

Thanks for that info. I will look into a PR and see how far I can take it 😉

Would you prefer Upper to fire the PurgeEvent and then folks with use cases like mine would listen for the event in their own module?

[2019-05-07 23:13] ostark commented on #32
there is no Module required, you can listen directly from you config/app.php using a closure

[2019-05-23 10:38] ostark commented on #32
@bwlng Is this still a requirement?

[2019-05-23 14:18] bwlng commented on #32
@ostark Yes, I haven’t had a chance to provide a PR, but hope to do so.

[2019-06-25 22:30] khalwat opened #33 "Excessive `X-Cache-Tag` headers causing 502 errors"
@ostark spent a bit of time tracking down an issue for @devinellis and @caseycoates in which if you increased the number of Element queries past a given point, it'd end up causing an immediate `502` error.

"Immediate" is important here, because initially the thought was that it could be timeout related or the like, but it ends up being that the error being thrown was:

```2019/06/22 02:29:30 [err

[2019-06-25 22:40] ostark commented on #33
I assume the `moz-inboelXXXX` are the identifiers of the globals. Or is it another custom Element?

[2019-06-26 16:30] devinellis commented on #33
@ostark Ironically, its already being truncated. We were attempting to tag things like this:
`moz-inbound, moz-inbound-prod, moz-inbound-prod-cms, moz-inbound-prod-cms-${page}`.
We'd appreciate a way to truncate the header to an arbitrary length, and I bet others might run into this same issue and have a hard time tracking it down so I'd suggest setting a default limit of 16k and mention it in the

[2019-06-27 11:08] ostark commented on #33
Upper tells the Edge Cache which Elements used/rendered on a page with the Cache Tag header.

@devinellis I assume the issue happens only on pages with many elements.

No. At least I'm not aware of :-)

[2019-06-27 22:57] devinellis commented on #33
@ostark yes. I think for the log above, Andrew increased the number of posts shown here in order to reproduce the 502: https://moz.com/help/whats-new.

[2019-06-28 01:39] khalwat commented on #33
Correct @devinellis -- I increased the number of posts shown to `500` -- but even just doubling it caused the issue.

So while I think truncating the prefix is probably a good idea overall, it doesn't solve the problem. It just kicks the can down the road a bit.

You'll still end up at some point with a situation where Nginx will 502 and the cause will be somewhat obfuscated/unexpected.

[2019-07-18 16:34] khalwat commented on #31
I think this may be even worse now with Craft 3.2, given that it auto-saves new drafts. You might need/want to check on:

[code]

Before pushing a purge job

[2019-11-26 21:40] timkelty opened #35 "Unabled to find tag. Unknown Event 'craft\\events\\ElementEvent'."
Seeing this in my logs alot:

[code]

[2019-11-26 21:49] ostark commented on #35
This `EventRegistrar` class is so ugly, I should invest some time in the 2.0 release.
The WARNING should be a NOTICE.
--
There is probably a new ElementEvent I don't handle properly.

[2020-01-10 16:58] timkelty opened #36 "Make CP, Actions uncacheable"
Obviously, the CP needs to be uncacheable.

This happens somewhat by default, as PHP will set nocache headers whenever a session is started, backed on your `session.cache_limiter` (ini value)[https://www.php.net/manual/en/session.configuration.php#ini.session.cache-limiter].

However, the CP login page does not start a session, which can result in a cacheable login page, preventing the login from

[2020-01-11 22:17] ostark commented on #36
@timkelty thanks for your suggestion. I thought all CP routes send private cache control headers.
If not, maybe this should be added to craftcms core?

[2020-01-13 10:20] ostark commented on #36
You are right! Feel free to send the PR. Not sure if I like the method name / interface ...
What about?:
[code]
instead of
[code]

_(when having a look at the code I noticed how ugly the 1.x branch is)_

[2020-01-13 14:53] timkelty commented on #36
[code]

I like!

I considered that…but it seems like a pretty specific use of cache-control that really only applies when using a proxy cache. What do you think?

[2020-01-13 22:28] #33 closed

[2020-01-13 22:29] #32 closed

[2020-01-13 22:30] #30 closed

[2020-01-14 00:01] ostark commented on #36
WIP

[2020-02-06 19:32] timkelty commented on #36
@ostark actions are currently cacheable too, e.g. (actions/users/session-info).

Do you think we should do the same for any of these by default? Seems like any direct controller request you pretty much wouldn't want cached.

[2020-02-06 20:00] timkelty commented on #36
PR'd to expand cache exclusion for action requests.

[2020-04-09 08:30] tomdavies opened #38 "[FR] Update Cloudflare driver to use scoped tokens"
The CloudFlare driver currently requires the user to use their account level API key, a key which if compromised gives an attacker complete control over their CloudFlare account. Needless to say this is somewhat less than ideal.

As of [August 2019](https://blog.cloudflare.com/api-tokens-general-availability/) CloudFlare allows the creation of scoped tokens than just have the privileges required t

[2020-04-09 10:58] ostark commented on #38
It makes sense to support both, otherwise, a major version bump would be required.
@tomdavies PR?

[2020-04-09 13:18] tomdavies commented on #38
Cool, will hop on it this weekend

[2020-06-16 22:08] #38 closed

[2020-06-16 22:09] ostark commented on #38
Sorry for the late release https://github.com/ostark/upper/releases/tag/1.6.0

[2020-06-16 22:12] ostark commented on #36
Sorry for the late release https://github.com/ostark/upper/releases/tag/1.6.0

[2020-06-16 22:12] #36 closed

[2020-06-16 22:12] #31 closed

[2020-06-30 20:49] timkelty commented on #33
Just ran into this as well.

@ostark would you be open to PR that added an option to have enforce an limit on the # of tags?

[2020-06-30 20:56] ostark commented on #33
@timkelty sure!
However, the number of tags is not the actual limit, it's the size of the header.

[2020-06-30 21:01] timkelty commented on #33
Right, in which case I think we'd just want to limit it with `mb_strcut`.

[2020-06-30 21:28] ostark commented on #33
maybe something like this?

[code]
https://github.com/ostark/upper/blob/0518b43dc4b7975adaaf8423aba3d89fa3d6ce45/src/Plugin.php#L96-L99

[2020-06-30 21:29] ostark commented on #33
@timkelty  btw, a shorter prefix might help. 4K feels a lot to me ...

[2021-01-26 19:18] ostark opened #43 "Update guzzle dependencies to support Craft 3.6"
guzzlehttp/guzzle ^6.2 | ^7.0

... not sure if the interface changed...

[2021-02-02 18:20] myleshyson opened #44 "SQLSTATE[HY000]: General error: 1221 Incorrect usage of spatial/fulltext/hash index and explicit index order"
Getting this error whenever I try to install the plugin via `php craft plugin/install upper`.

[code]

I'm running:
mysql: 8.0.23
php: 8.0.1
craft: 3.6.2

[2021-02-02 22:25] ostark commented on #44
@myleshyson thanks for your report.
I need to test this against MySQL 8.

[2021-02-05 20:30] myleshyson commented on #44
I think the issue here is [this line](https://github.com/ostark/upper/blob/032dd53bc45d4e387568161d70f0beeddab7cfef/src/migrations/Install.php#L35). Was reading the Mysql 8 docs and according to [this](https://dev.mysql.com/doc/refman/8.0/en/descending-indexes.html) (it's the very last line on the page) explicitly specifying `ASC` or `DESC` on a FULLTEXT, HASH, and SPATIAL indexes will result in a

[2021-02-06 09:44] ostark commented on #44
That's what I assumed.
Will fix it.

[2021-02-08 21:27] ostark commented on #44
https://github.com/ostark/upper/releases/tag/1.8.0

[2021-02-08 21:27] #44 closed

[2021-02-08 21:27] #43 closed

[2021-02-08 21:33] #35 closed

[2021-02-08 21:34] #24 closed

[2021-03-05 14:13] toddpadwick opened #47 "Using upper with craft CMS multi-site with two domains"
Our site has two domains that return different Craft Multi-sites - a .`com` domain and a `.co.uk` domain. We've set up a Cloudflare domain for each. How do we use Upper for both of them? From what I can see there is only room for a single CF domain?

[2021-03-05 22:22] ostark commented on #47
Sorry, that's not supported yet.

[2021-03-08 08:13] toddpadwick commented on #47
Ah okay. Do you know of a temporary solution? We're finally launching that 'The Writer' site this afternoon, and the client is noticing that any time they make CMS changes, they don't update on the front end. And it's not feasible for me to purge CF manually every time.
I thought that Craft's native template header would invalid the cache header out of the box, but obviously not :(

[2021-04-08 18:39] RedLucas commented on #1
I just found this, and it seems to solve a problem I've been having. I see it's been merged into develop. Any change of getting it into a minor release in the near future?

Or I guess an Upper 2 release.

[2021-04-08 18:53] ostark commented on #1
2.0 is a completely different code base. It's better than the 1.0 code, but also not completely happy - it's actually 2 years old.
I'm looking forward to bring Upper to the next level this year.

[2021-04-29 20:10] timkelty opened #50 "Newer implementations of live preview do not bypass the cache"
I think we just need to use `getIsPreview` instead: https://github.com/craftcms/cms/blob/develop/src/web/Request.php#L690

[2021-04-30 14:49] ostark commented on #50
Go ahead, @timkelty, bump the Craft version to ^3.2.1 and use `Request::getIsPreview()`.

[2021-05-05 15:52] philipzaengle commented on #47
This would be very nice to have :)

[2021-05-06 12:01] ostark commented on #47
@philipzaengle @toddpadwick
Can you provide more details? What's needed to make it happen? Multiple tokens / zone-ids too?
I

[2021-05-06 13:03] philipzaengle commented on #47
@ostark I've not looked at the implementation details of this, so take everything with a grain of salt. But here's my usecase.

**Nerd Stuff:**
I've got craft managing the content of multiple sites, all using different domains. In my case, these are within the same Cloudflare account -- however, I could see larger clients wanting to use domains from multiple Cloudflare accounts (clients amirite?).

[2021-08-03 21:12] RedLucas opened #52 "Craft's cpresources are cached by default, but it causes some problems"
Currently using Craft 3.6.18 and Upper 1.8.0 for Cloudflare enterprise. We use Servd as our host.

What I have been seeing is that when we do new deploys on Servd (a release), it will regenerate the cpresources files, but at times the files aren't ready yet when one of our content editors visit the site, and certain cpresources css and js files end up returning a 404.

After each deploy, we do do

[2021-09-04 02:40] adrienne commented on #47
@ostark - I have the same problem. Two basically separate sites being run from the same multi-site setup. Would like to just be able to configure multiple zone IDs (in our case the same token works fine but multiple tokens is probably also good) and assign each to a Site ID in Craft (so that entries and sections *for that site* would purge the relevant zone cache).

[2021-10-08 19:54] mattbloomfield opened #53 "How to set the max-age?"
Forgive my ignorance - how do I set the max-age globally? I'm using Fastly if that matters

[2021-10-14 20:33] taylordaughtry opened #54 "Surrogate Keys are briefly added then removed after publishing a Draft in a Section."
Hi! I'm having an issue with keys inexplicably disappearing after a few seconds—but only when using the Fastly driver.

I can't seem to reproduce it with the Dummy driver, so before I setup a Fastly install just to repro it locally + get more specific I wanted to open an issue here and see if something sounds familiar/similar to anything you've seen previously.

Generally, here's what's happening:

[2021-11-10 13:51] ashleybaird commented on #47
@ostark This is an issue I am struggling with now too. Our website is localizing and uses Fastly for caching. We plan to add new domains for each area we are expanding into. Though for our new domain the only way we can purge the cache is by running a Jenkins job to purge the cache of the whole site. This is not sustainable and I was wondering do you plan to add support for multiple Fastly service

[2021-11-11 20:50] #54 closed

[2021-11-11 20:51] #52 closed

[2021-12-03 06:04] paragonn opened #55 "Database error when installing the Upper Plugin"
create table {{%upper_cache}} ...Exception: SQLSTATE[HY000]: General error: 3750 Unable to create or change a table without a primary key, when the system variable 'sql_require_primary_key' is set. Add a primary key to the table or unset this variable to avoid this message. Note that tables without a primary key can cause performance problems in row-based replication, so please consult your DBA be

[2021-12-06 12:23] ostark commented on #55
Hi  @paragonn

thanks for your report! Please provide more details about your environment, like DB version.

[2021-12-06 12:27] paragonn commented on #55
Sure thing:
Mysql 8
Digital Ocean - Managed Databases

I know that Digital Ocean's Managed Databases do no like tables without a primary key. Has something to do with replication.

[2021-12-13 16:28] taylordaughtry commented on #50
@timkelty @ostark  Hi! Just bumping this thread—was this solved in some other fashion?

[2021-12-13 16:57] timkelty commented on #50
Looks like it hasn't! Send a PR over and I'll merge with a smile.

[2022-01-26 19:11] RedLucas opened #58 "Should HEAD responses get X-cache-tags headers too?"
Since bots often use HEADs to check for content updates or if the server is alive, it makes sense to cache HEADs via CDN.

With this same reasoning, I think the upper process should attach the cache headers to both GETs and HEADs.

[2022-02-01 12:13] elfacht commented on #55
Having the same issue with MySQL 5.7.35. Always have to delete the table by hand to install it.

[code]

[2022-02-08 13:40] L3P3 commented on #55
I am sure this is not the same issue. In our case, the table already exists. It is not about primary key or similar.

[2022-02-08 13:42] L3P3 opened #59 ""Table already exists" error when reinstalling"
Having the same issue with MySQL 5.7.35 and Craft 3.7.30.1. Always have to delete the table by hand to install it.

[code]

_Originally posted by @elfacht in https://github.com/ostark/upper/issues/55#issuecomment-1026778925_

[2022-02-08 13:59] ostark commented on #59
Thanks! I'll have a look.

[2022-02-08 14:19] L3P3 commented on #59
Thanks for quick reaction, hope for a release in near future so we don't have to rely on dev branch. :wink:

[2022-02-08 14:19] #59 closed

[2022-02-08 15:03] ostark commented on #55
Thanks @L3P3

[2022-02-12 00:03] RedLucas opened #61 "Cache tags not getting added to responses when content is within {% cache %} twig tags"
I've noticed that only get generated and added to the response headers (in my case Cloudflare Cache-Tags) when the Response is a cold cache.

So on first load, the response has all necessary CacheTags headers, but it's possible that the cloudflare cache will be cleared for reasons.

Since Craft's template cache is caching content, any entries that were loaded within the {% cache %}  tags no longer

[2022-02-14 09:32] L3P3 commented on #55
I think _this_ issue here is not related with my fix. You should better leave it open. Or have you looked into it a bit more?

[2022-02-14 12:22] ostark commented on #61
I guess it was always like this. 🙉
To me, it makes sense to use the Craft/twig template cache `and` the full-page-cache Upper provides.

I need to debug the behavior.
Hopefully, there is an easy way to deliver cache tags even if you use the `{% cache %}` tag.

[2022-02-14 12:54] ostark commented on #55
@L3P3
Oops, you are right!
It does not solve the problem with the missing PK - I just had a look at the most recent comments.
I think all `uid` needs is a `PRIMARY KEY` constraint instead of just `UNIQUE`.

[2022-02-14 16:25] ostark commented on #61
It's very possible!

[2022-03-24 11:49] bartdigitalpulse opened #62 "Invalid owner ID when deleting super table field"
At first I thought this was an issue with the super table field plugin but when I disable the Upper plugin I no longer have this issue.
Attached the stack trace.

Craft edition & version | Craft Pro 3.7.36
Upper | 1.9.1
Super Table | 2.7.1

PHP version | 7.4.27

[code]

[2022-03-24 14:50] ostark commented on #62
Can you replace the current version in your composer.json with "dev-fix/supertable" and run `composer u ostark/upper` to pull in this feature branch?

[2022-03-24 15:07] bartdigitalpulse commented on #62
Allright, it works. I no longer get the error. Thanks!

[2022-03-24 15:28] #62 closed

[2022-04-08 13:40] mrw commented on #47
Throwing in a vote here as well, this would be very useful to have officially supported. Thanks!

[2022-06-01 11:08] ostark commented on #58
Hi Lucas,

I missed this! I'll do some research on this topic.

[2022-06-01 12:24] timkelty opened #66 "Config setting to truncate header length"
On large pages, it is possible that the `XKEY/Surrogate-Key/Cache-Tag` exceeds the allowed length of a header by the web server.
IIRC, when this happens, it is generally not handled gracefully and you might get a fatal error from the web server.

I remember when I dealt with this, I had to go an bump the value in nginx _and_ Varnish.

It would be nice if Upper had a config setting to automatically

[2022-06-01 12:32] ostark commented on #66
https://github.com/ostark/upper/blob/master/src/config.example.php#L25-L30 👀

[2022-06-01 12:33] timkelty commented on #66
well then!

[2022-06-01 13:07] ostark commented on #66
Adding a reasonable default limit makes sense.

[2022-06-01 20:19] RedLucas commented on #58
Hey, I appreciate it!

I worked around this issue on my end by serving HEAD requests like GET within CF. (which is technically ok but really not ideal).

but yeah, I was having issues with HEAD requests being uncached, which ends up akin to being DDoSed by web crawlers... Figured I'd bring it up here. :)

[2022-06-16 15:47] khalwat commented on #61
You can  use Craft's new-ish (as of 3.5) built-in functionality for collecting element cache tags via `Elements::startCollectingCacheTags()` / `Elements::stopCollectingCacheTags()` to get a list of tag dependencies for a rendered template

[2022-06-16 15:48] khalwat opened #67 "Craft 4 roadmap?"
Just wanted to see what your plans were for this plugin and Craft 4?

[2022-06-29 08:25] ostark commented on #67
A rewrite is planned - targeting Craft 4.1
https://github.com/ostark/upper/discussions/65

[2022-07-18 00:55] khalwat commented on #61
Related PR: https://github.com/craftcms/cms/pull/11617

[2022-09-02 14:03] timkelty commented on #1
@ostark For `expiryDate`, I was thinking we should probably be able to handle it without a cron.

When we're listening for elements to add their tags, if they have an `expiryDate`, we could compare it to the default for the `Cache-Control: max-age` header. If it is sooner, we update the value for `max-age`.

[2022-09-07 18:06] ostark commented on #1
@timkelty what if we have a list with multiple elements?

[2022-09-07 18:11] timkelty commented on #1
@ostark as it iterated through the elements, it would just update the soonest expiry date (if it was sooner than the default)

[2022-09-08 07:24] timkelty commented on #1
@ostark Craft now does this natively for its own cache: https://github.com/craftcms/cms/pull/11901